<!doctype html>
<html lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/remixicon.css">
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Title -->
    <title>校园二手交易平台</title>


</head>

<body>
<!-- Start For overflow-hidden & tween-animation -->
<div class="overflow-hidden tween-animation">
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="preloader-container">
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->


    <!-- Start Navbar Area -->
    <div class="navbar-area bg-color-272b3a">
        <div class="mobile-responsive-nav">
            <div class="container">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a th:href="@{/toAdminlogin}">
                            <img src="assets/images/logo.png" class="main-logo" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" th:href="@{/toAdminlogin}" style="width: 455px">
                        <img style="max-width: 57%" src="assets/images/logo.png" class="main-logo" alt="logo">
                    </a>


                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a th:href="@{/homeUser}" style="width: 36px" class="nav-link active">主页</a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{/listGood}" style="width: 40px" class="nav-link active">购物</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/collection}" style="width: 40px" class="nav-link active">收藏</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/cart}" style="width: 50px" class="nav-link active">购物车</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listOrder}" style="width: 40px" class="nav-link active">订单</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listMyGood}" style="width: 64px" class="nav-link active">我的商品</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/profileUser}" style="width: 64px" class="nav-link">个人信息</a>
                            </li>
                        </ul>


                        <div class="others-options">
                            <ul>
                                <li th:if="${session.currentUser}==null">
                                    <a th:href="@{/login}" class="default-btn active">登录</a>
                                </li>
                                <li th:if="${session.currentUser}!=null">
                                    <a th:href="@{/preSaveGood}" class="default-btn active">发布</a>
                                </li>
                            </ul>
                        </div>

                        <!--  -->

                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options justify-content-center">
                            <ul>
                                <li>
                                    <a href="cart.html" class="cart-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>0</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="pricing.html" class="default-btn active">Get Started Now</a>
                                </li>
                            </ul>

                            <form class="search-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search here">
                                    <button type="submit" class="src-btn">
                                        <i class="ri-search-line"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->


    <!-- Start Cart Area -->
    <div class="cart-area default-shape bg-color-linear-3 ptb-100">
        <div class="container">
            <div class="section-title">
                <!--                <span class="span color-style-three">OUR SECURITY SOLUTIONS</span>-->
                <h2>购物车</h2>
                <!--                <p>Integrate local and cloud resources, protect user traffic and endpoints, and create custom, scalable network.</p>-->
            </div>
            <div class="cart-wrap">
                <form class="cart-controller">
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">商品</th>
                                <th scope="col">名称</th>
                                <th scope="col">现价</th>
                                <th scope="col">数量</th>
                                <th scope="col">总额</th>
                                <th scope="col">删除</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="order:${pageInfo.list}">
                                <!--复选框-->
                                <td class="product-checkbox">
                                    <input type="checkbox" class="product-select" th:id="'checkbox_' + ${order.id}" th:data-id="${order.id}" th:checked="${order.gid == session.newGoodId}" />
                                </td>
                                <td class="product-thumbnail">
                                    <a>
                                        <img th:src="'http://localhost:8088/'+${order.good.gimage}" alt="Image">
                                    </a>
                                </td>

                                <td class="product-name">
                                    <a>[[${order.good.gname}]]</a>
                                </td>

<!--                                <td class="product-price">-->
<!--                                    <span class="unit-amount">￥[[${order.good.pricen}]]</span>-->
<!--                                </td>-->

                                <td class="product-quantity">
                                    <div class="input-counter">
                                        <span id="sub" th:name="${order.id}" class="minus-btn"><i
                                                class="ri-subtract-line"></i></span>

                                        <input id="salary" th:class="${order.count}" type="text" th:max="${order.good.stock+order.count}" min="1"
                                               th:value="${order.count}"/>

                                        <span id="add" th:name="${order.id}" class="plus-btn"><i
                                                class="ri-add-line"></i></span>
                                    </div>
                                </td>

                                <!--价格-->
                                <td class="product-subtotal">
                                    <span class="subtotal-amount" th:text="'￥'+${order.good.pricen}">￥[[${order.good.pricen}]]</span>
                                </td>

                                <td class="trash">
                                    <a th:href="@{'/delCart/'+${order.id}}" class="remove">
                                        <i class="ri-delete-bin-line"></i>
                                    </a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </form>

                <div class="coupon-cart">
                    <div class="row">


                        <div class="col-lg-7 col-md-6">
                            <a th:href="@{/listGood}" class="default-btn update-cart">
                                继续购物
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-totals">
                <div class="cart-totals-wrap">
                    <h3>购物车总额</h3>
                    <ul>

                        <li id="selectedTotal"><b>总额</b> <span>0</span></li>
                    </ul>

                    <a th:href="@{/payOrder}" class="default-btn">
                        支付
                    </a>
                </div>
            </div>
        </div>

        <div class="only-shape shape-1" data-speed="0.04" data-revert="true">
            <img src="assets/images/team/team-shape-1.png" alt="Image">
        </div>
        <div class="only-shape shape-2" data-speed="0.06" data-revert="true">
            <img src="assets/images/team/team-shape-2.png" alt="Image">
        </div>
    </div>
    <!-- End Cart Area -->


    <!-- Start Footer Area -->
    <div class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- End Footer Area -->

    <!-- Start Copyright Area -->
    <div class="copy-right-area">
        <div class="container">

        </div>
    </div>
    <!-- End Copyright Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
</div>
<!-- End For overflow-hidden & tween-animation -->

<!-- Links of JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/meanmenu.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/tween-max.min.js"></script>
<script src="assets/js/appear.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/smoothscroll.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/ajaxchimp.min.js"></script>
<script src="assets/js/custom.js"></script>
<script src='https://s1.pstatp.com/cdn/expire-1-M/jquery/1.10.2/jquery.min.js'></script>
<script>
    // 获取id名为 salary 的元素
    const input = document.querySelector('input[id="salary"]');

    $(function () {
        // - 绑定点击事件
        $("span[id=sub]").click(function () {
            //获取id
            var workerId = $(this).attr("name");
            var workerSalary = $(this).next().attr("class");
            console.log(workerId)
            console.log(workerSalary)
            //计算调整后的数量
            workerSalary = parseInt(workerSalary);
            if (workerSalary <= 1) {
                // 确认弹窗
                if (window.confirm("是否从购物车中删除该商品？")) {
                    // 确认删除
                    window.location.href = "/delCart/" + workerId;
                } else {
                    // 取消删除
                    window.location.href = "/cart";
                }
            } else {
                workerSalary -= 1;
                //$(this).next().text(workerSalary);
                $.ajax({
                    url: '/updateOrder',
                    data: {
                        orderId: workerId,
                        count: workerSalary
                    },
                    method: "POST",
                    success: function (data) {
                        if (data == "OK") {
                            alert("减少成功");
                            window.location.href = "/cart";
                        } else {
                            alert("减少失败")
                        }
                    }
                })
            }
        })
    })

    $(function () {
        // + 绑定点击事件
        $("span[id=add]").click(function () {
            //获取id
            var workerId = $(this).attr("name");
            var workerSalary = $(this).prev().attr("class");
            //计算调整后的数量
            workerSalary = parseInt(workerSalary);
            // alert("剩余库存量："+pageInfo);
            if (workerSalary >= parseInt(input.max)) {
                alert("库存不足");
                window.location.href = "/cart";
            } else {
                workerSalary += 1;
                //$(this).prev().text(workerSalary);
                $.ajax({
                    url: '/updateOrder',
                    data: {
                        orderId: workerId,
                        count: workerSalary
                    },
                    method: "POST",
                    success: function (data) {
                        if (data == "OK") {
                            alert("添加成功");
                            window.location.href = "/cart";
                        } else {
                            alert("添加失败");
                        }
                    }
                })
            }
        })
    })

    // 计算选中商品的总价
    function calculateSelectedTotal() {
        var total = 0;
        document.querySelectorAll('.product-select:checked').forEach(function(checkbox) {
            var subtotal = parseFloat(checkbox.closest('tr').querySelector('.subtotal-amount').textContent.replace('￥', ''));
            total += subtotal;
        });
        document.getElementById('selectedTotal').querySelector('span').textContent = total.toFixed(2);
    }

    // 为每个商品选择框绑定change事件
    document.querySelectorAll('.product-select').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            calculateSelectedTotal();
        });
    });

    // 页面加载时计算一次总价
    calculateSelectedTotal();

    // 绑定支付按钮点击事件
    document.querySelector('.default-btn').addEventListener('click', function(event) {
        event.preventDefault(); // 阻止默认行为
        var selectedIds = [];
        document.querySelectorAll('.product-select:checked').forEach(function(checkbox) {
            selectedIds.push(checkbox.dataset.id);
        });

        if (selectedIds.length === 0) {
            alert('请选择至少一个商品进行结算');
            return;
        }

        // 发送请求到后端进行结算
        fetch('/paySelectedOrders', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ orderIds: selectedIds }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('结算成功');
                    window.location.href = '/listOrder'; // 重定向到订单列表页面
                } else {
                    alert('结算失败，请重试');
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>
