<!doctype html>
<html lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/remixicon.css">
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Title -->
    <title>校园二手交易平台</title>
</head>

<body>
<!-- Start For overflow-hidden & tween-animation -->
<div class="overflow-hidden tween-animation">
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="preloader-container">
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->



    <!-- Start Navbar Area -->
    <div class="navbar-area bg-color-272b3a">
        <div class="mobile-responsive-nav">
            <div class="container">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a th:href="@{/toAdminlogin}">
                            <img  src="assets/images/logo.png" class="main-logo" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" th:href="@{/toAdminlogin}" style="width: 455px">
                        <img style="max-width: 57%" src="assets/images/logo.png" class="main-logo" alt="logo">
                    </a>



                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a th:href="@{/homeUser}" style="width: 36px" class="nav-link active">主页</a>
                            </li>

                            <li class="nav-item" >
                                <a th:href="@{/listGood}" style="width: 40px" class="nav-link active">购物</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/collection}" style="width: 40px" class="nav-link active">收藏</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/cart}" style="width: 50px" class="nav-link active">购物车</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listOrder}" style="width: 40px" class="nav-link active">订单</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listMyGood}" style="width: 64px" class="nav-link active">我的商品</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/profileUser}" style="width: 64px" class="nav-link">个人信息</a>
                            </li>
                        </ul>


                        <div class="others-options">
                            <ul>
                                <li th:if="${session.currentUser}==null">
                                    <a th:href="@{/login}" class="default-btn active">登录</a>
                                </li>
                                <li th:if="${session.currentUser}!=null">
                                    <a th:href="@{/preSaveGood}" class="default-btn active">发布</a>
                                </li>
                            </ul>
                        </div>

                        <!--  -->

                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options justify-content-center">
                            <ul>
                                <li>
                                    <a href="cart.html" class="cart-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>0</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="pricing.html" class="default-btn active">Get Started Now</a>
                                </li>
                            </ul>

                            <form class="search-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search here">
                                    <button type="submit" class="src-btn">
                                        <i class="ri-search-line"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->



    <!-- Start Team Area -->
    <div class="team-area default-shape bg-color-linear-3 ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>我的商品</h2>
            </div>


            <div class="row">
                <div class="col-lg-3 col-sm-6" th:each="good:${pageInfo.list}">
                    <div class="single-team">
                        <img th:src="'http://localhost:8088/'+${good.gimage}" alt="Image" style="width: 306px;height: 306px" >

                        <div class="team-content">
                            <ul class="social-link">

                                <li>
                                    <a th:href="@{'/preUpdateGood/'+${good.id}}" >
                                        <i class="ri-edit-2-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{'/delMyGood/'+${good.id}}" >
                                        <i class="ri-delete-bin-line"></i>
                                    </a>
                                </li>
                            </ul>

                            <h3>[[${good.gname}]]</h3>
                            <span>分类：[[${good.type}]]</span><br/>
                            <span>库存：[[${good.stock}]]</span><br/>
                            <span>折扣：[[${good.discount}]]</span><br/>
                            <div class="price">
                                <span class="new-price" style="color: #0a53be"> ￥[[${good.pricen}]] <del>￥[[${good.price}]]</del></span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-12">
                    <div class="pagination-area">
                        <a th:if="!${pageInfo.hasPreviousPage}" class="next page-numbers">
                            <i class="ri-arrow-left-s-line"></i>
                        </a>
                        <a th:if="${pageInfo.hasPreviousPage}" th:href="'/listMyGood?pageNum='+${pageInfo.prePage}" class="next page-numbers">
                            <i class="ri-arrow-left-s-line"></i>
                        </a>



                        <span th:each="nav:${pageInfo.navigatepageNums}">
                            <a th:if="${nav != pageInfo.pageNum}" th:href="'/listMyGood?pageNum='+${nav}" th:text="${nav}" class="page-numbers"></a>
                            <a th:if="${nav == pageInfo.pageNum}" th:text="${nav}" class="page-numbers current"></a>
                        </span>



                        <a th:if="!${pageInfo.hasNextPage}"  class="next page-numbers">
                            <i class="ri-arrow-right-s-line"></i>
                        </a>
                        <a th:if="${pageInfo.hasNextPage}" th:href="'/listMyGood?pageNum='+${pageInfo.nextPage}"  class="next page-numbers">
                            <i class="ri-arrow-right-s-line"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="only-shape shape-1" data-speed="0.04" data-revert="true">
            <img src="assets/images/team/team-shape-1.png" alt="Image">
        </div>
        <div class="only-shape shape-2" data-speed="0.06" data-revert="true">
            <img src="assets/images/team/team-shape-2.png" alt="Image">
        </div>
    </div>
    <!-- End Team Area -->



    <!-- Start Footer Area -->
    <div class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- End Footer Area -->

    <!-- Start Copyright Area -->
    <div class="copy-right-area">
        <div class="container">

        </div>
    </div>
    <!-- End Copyright Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
</div>
<!-- End For overflow-hidden & tween-animation -->

<!-- Links of JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/meanmenu.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/tween-max.min.js"></script>
<script src="assets/js/appear.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/smoothscroll.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/ajaxchimp.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>
