<!doctype html>
<html lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/remixicon.css">
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Title -->
    <title>校园二手交易平台</title>
</head>

<body>
<!-- Start For overflow-hidden & tween-animation -->
<div class="overflow-hidden tween-animation">
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="preloader-container">
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->



    <!-- Start Navbar Area -->
    <div class="navbar-area bg-color-272b3a">
        <div class="mobile-responsive-nav">
            <div class="container">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a th:href="@{/toAdminlogin}">
                            <img  src="assets/images/logo.png" class="main-logo" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" th:href="@{/toAdminlogin}" style="width: 455px">
                        <img style="max-width: 57%" src="assets/images/logo.png" class="main-logo" alt="logo">
                    </a>



                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a th:href="@{/homeUser}" style="width: 36px" class="nav-link active">主页</a>
                            </li>

                            <li class="nav-item" >
                                <a th:href="@{/listGood}" style="width: 40px" class="nav-link active">购物</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/collection}" style="width: 40px" class="nav-link active">收藏</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/cart}" style="width: 50px" class="nav-link active">购物车</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listOrder}" style="width: 40px" class="nav-link active">订单</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listMyGood}" style="width: 64px" class="nav-link active">我的商品</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/profileUser}" style="width: 64px" class="nav-link">个人信息</a>
                            </li>
                        </ul>


                        <div class="others-options">
                            <ul>
                                <li th:if="${session.currentUser}==null">
                                    <a th:href="@{/login}" class="default-btn active">登录</a>
                                </li>
                                <li th:if="${session.currentUser}!=null">
                                    <a th:href="@{/preSaveGood}" class="default-btn active">发布</a>
                                </li>
                            </ul>
                        </div>

                        <!--  -->

                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options justify-content-center">
                            <ul>
                                <li>
                                    <a href="cart.html" class="cart-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>0</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="pricing.html" class="default-btn active">Get Started Now</a>
                                </li>
                            </ul>

                            <form class="search-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search here">
                                    <button type="submit" class="src-btn">
                                        <i class="ri-search-line"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->



    <!-- Start Cart Area -->
    <div class="cart-area default-shape bg-color-linear-3 ptb-100">
        <div class="container">
            <div class="section-title">
                <!--                <span class="span color-style-three">OUR SECURITY SOLUTIONS</span>-->
                <h2>我的订单</h2>
                <!--                <p>Integrate local and cloud resources, protect user traffic and endpoints, and create custom, scalable network.</p>-->
            </div>
            <div class="cart-wrap">
                <form class="cart-controller">
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>


                                <th scope="col">商品</th>
                                <th scope="col">名称</th>
                                <th scope="col">数量</th>
                                <th scope="col">总额</th>
                                <th scope="col">收货住址</th>
                                <th scope="col">下单时间</th>
                                <th scope="col">订单状态</th>
                                <th scope="col">操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="order:${pageInfo.list}">
                                <td class="product-thumbnail">
                                    <a >
                                        <img style="width: 55px;height: 55px" th:src="'http://localhost:8088/'+${order.good.gimage}" alt="Image">
                                    </a>
                                </td>

                                <td class="product-name">
                                    <a >[[${order.good.gname}]]</a>
                                </td>

                                <td class="product-price">
                                    <span class="unit-amount">[[${order.count}]]</span>
                                </td>
                                <td class="product-price">
                                    <span class="unit-amount">[[${order.total}]]</span>
                                </td>
                                <td class="product-price">
                                    <span class="unit-amount">[[${order.student.address}]]</span>
                                </td>

                                <td class="product-subtotal">
                                    <span class="subtotal-amount">[[${#dates.format(order.orderTime,'yyyy-MM-dd')}]]</span>
                                </td>

                                <td class="product-subtotal">
                                    <span th:if="${order.status}==0" class="subtotal-amount" style="color: #0a53be">未发货</span>
                                    <span th:if="${order.status}==1" class="subtotal-amount" style="color: green">发货中</span>
                                    <span th:if="${order.status}==2" class="subtotal-amount" style="color: saddlebrown">已收货</span>
                                </td>

                                <td class="product-subtotal">


                                    <a style="color: blue" th:if="${order.status}==1 " th:href="@{'/confirmOrder/'+${order.id}}" >
                                        确认收货
                                    </a>

                                    &nbsp;
                                    <a style="color: red" th:href="@{'/delMyOrder/'+${order.id}}" class="remove">
                                        删除
                                    </a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </form>

                <div class="coupon-cart">
                    <div class="row">



                    </div>
                </div>
            </div>


            <div class="section-title">
                <!--                <span class="span color-style-three">OUR SECURITY SOLUTIONS</span>-->
                <h2>卖出的订单</h2>
                <!--                <p>Integrate local and cloud resources, protect user traffic and endpoints, and create custom, scalable network.</p>-->
            </div>
            <div class="cart-wrap">
                <form class="cart-controller">
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>


                                <th scope="col">用户</th>
                                <th scope="col">商品</th>
                                <th scope="col">数量</th>
                                <th scope="col">总额</th>
                                <th scope="col">收货住址</th>
                                <th scope="col">下单时间</th>
                                <th scope="col">订单状态</th>
                                <th scope="col">操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="order:${pageInfo1.list}">

                                <td class="product-thumbnail">
                                    <a >
                                        <img style="width: 55px;height: 55px" th:src="'http://localhost:8088/'+${order.student.simage}" alt="Image">&nbsp;[[${order.student.sname}]]
                                    </a>
                                </td>

                                <td class="product-thumbnail">
                                    <a >
                                        <img style="width: 55px;height: 55px" th:src="'http://localhost:8088/'+${order.good.gimage}" alt="Image">&nbsp;[[${order.good.gname}]]
                                    </a>
                                </td>

                                <td class="product-price">
                                    <span class="unit-amount">[[${order.count}]]</span>
                                </td>
                                <td class="product-price">
                                    <span class="unit-amount">[[${order.total}]]</span>
                                </td>
                                <td class="product-price">
                                    <span class="unit-amount">[[${order.student.address}]]</span>
                                </td>

                                <td class="product-subtotal">
                                    <span class="subtotal-amount">[[${#dates.format(order.orderTime,'yyyy-MM-dd')}]]</span>
                                </td>

                                <td class="product-subtotal">
                                    <span th:if="${order.status}==0" class="subtotal-amount" style="color: #0a53be">未发货</span>
                                    <span th:if="${order.status}==1" class="subtotal-amount" style="color: green">发货中</span>
                                    <span th:if="${order.status}==2" class="subtotal-amount" style="color: saddlebrown">已收货</span>
                                </td>

                                <td class="product-subtotal">


                                    <a style="color: blue" th:if="${order.status}==0 " th:href="@{'/fahuo/'+${order.id}}" >
                                        发货
                                    </a>

                                    &nbsp;
                                    <a style="color: red" th:href="@{'/delMyOrder/'+${order.id}}" class="remove">
                                        删除
                                    </a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </form>

                <div class="coupon-cart">
                    <div class="row">



                    </div>
                </div>
            </div>


        </div>

        <div class="only-shape shape-1" data-speed="0.04" data-revert="true">
            <img src="assets/images/team/team-shape-1.png" alt="Image">
        </div>
        <div class="only-shape shape-2" data-speed="0.06" data-revert="true">
            <img src="assets/images/team/team-shape-2.png" alt="Image">
        </div>
    </div>
    <!-- End Cart Area -->



    <!-- Start Footer Area -->
    <div class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- End Footer Area -->

    <!-- Start Copyright Area -->
    <div class="copy-right-area">
        <div class="container">

        </div>
    </div>
    <!-- End Copyright Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
</div>
<!-- End For overflow-hidden & tween-animation -->

<!-- Links of JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/meanmenu.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/tween-max.min.js"></script>
<script src="assets/js/appear.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/smoothscroll.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/ajaxchimp.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>
