<!doctype html>
<html lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/remixicon.css">
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Title -->
    <title>校园二手交易平台</title>
</head>

<body>
<!-- Start For overflow-hidden & tween-animation -->
<div class="overflow-hidden tween-animation">
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="preloader-container">
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="petal-1"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->


    <!-- Start Navbar Area -->
    <div class="navbar-area bg-color-272b3a">
        <div class="mobile-responsive-nav">
            <div class="container">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a th:href="@{/toAdminlogin}">
                            <img src="assets/images/logo.png" class="main-logo" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" th:href="@{/toAdminlogin}" style="width: 455px">
                        <img style="max-width: 57%" src="assets/images/logo.png" class="main-logo" alt="logo">
                    </a>


                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a th:href="@{/homeUser}" style="width: 36px" class="nav-link active">主页</a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{/listGood}" style="width: 40px" class="nav-link active">购物</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/collection}" style="width: 40px" class="nav-link active">收藏</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/cart}" style="width: 50px" class="nav-link active">购物车</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listOrder}" style="width: 40px" class="nav-link active">订单</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/listMyGood}" style="width: 64px" class="nav-link active">我的商品</a>
                            </li>
                            <li class="nav-item" th:if="${session.currentUser}!=null">
                                <a th:href="@{/profileUser}" style="width: 64px" class="nav-link">个人信息</a>
                            </li>
                        </ul>


                        <div class="others-options">
                            <ul>
                                <li th:if="${session.currentUser}==null">
                                    <a th:href="@{/login}" class="default-btn active">登录</a>
                                </li>
                                <li th:if="${session.currentUser}!=null">
                                    <a th:href="@{/preSaveGood}" class="default-btn active">发布</a>
                                </li>
                            </ul>
                        </div>

                        <!--  -->

                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options justify-content-center">
                            <ul>
                                <li>
                                    <a href="cart.html" class="cart-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>0</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="pricing.html" class="default-btn active">Get Started Now</a>
                                </li>
                            </ul>

                            <form class="search-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search here">
                                    <button type="submit" class="src-btn">
                                        <i class="ri-search-line"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->


    <!-- Start Product Details Area -->
    <div class="product-details-area default-shape bg-color-linear-3 ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="product-details-image mr-15">
                        <img th:src="'http://localhost:8088/'+${good.gimage}" alt="Image">
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="product-details-desc ml-15">
                        <h3>[[${good.gname}]]</h3>
                        <span class="began">发布人：[[${good.student.sname}]]</span>
                        <div class="price">
                            <span class="new-price"> <del>￥[[${good.price}]]</del> ￥[[${good.pricen}]]</span>
                        </div>

                        <div th:if="${good.star == 4}">
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                        </div>
                        <div th:if="${good.star >= 5 }">
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                        </div>
                        <div th:if="${good.star == 3}">
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                        </div>
                        <div th:if="${good.star == 2}">
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                        </div>
                        <div th:if="${good.star == 1}">
                            <i style="color: #d15f5f" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                        </div>
                        <div th:if="${good.star == 0}">
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                            <i style="color: #663a42" class="ri-star-fill"></i>
                        </div>
                        <p>[[${good.descr}]]</p>


                        <ul class="sku">
                            <li>
                                分类:
                                <span>[[${good.type}]]</span>
                            </li>
                            <li>
                                原价:
                                <span>￥[[${good.price}]]</span>
                            </li>
                            <li>
                                折扣:
                                <span>[[${good.discount}]]</span>
                            </li>
                            <li>
                                库存:
                                <span>[[${good.stock}]]</span>
                            </li>
                        </ul>

                        <p style="color:red"
                           th:if="${not #strings.isEmpty(session.msg)}"
                           th:text="${session.msg}">
                            <!--这个msg既可以是model里的，也可以是session里的-->
                        </p>

                        <!-- 商品详情页面加入购物车、收藏模块 -->
                        <div class="product-add-to-cart d-flex justify-content-between align-items-center">
                            <!-- 加入购物车 -->
                            <form th:action="@{/goodToCart}">
                                <input name="goodId" th:value="${good.id}" type="hidden"/>
                                <div class="input-counter">
                                    <span class="minus-btn">
                                        <i class="ri-subtract-line"></i>
                                    </span>
                                    <input type="text" name="count" value="1" min="1" th:max="${good.stock}">
                                    <span class="plus-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                </div>
                                <button type="submit" class="default-btn">
                                    加入购物车
                                </button>
                            </form>
                            <!-- 收藏 -->
                            <a th:href="@{'/goodToCollection/'+${good.id}}" type="button" class="default-btn">
                                收藏
                            </a>
                            <ul class="social-link">
                                <li><span></span></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="tab product-details-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                        data-bs-target="#description" type="button" role="tab"
                                        aria-controls="description" aria-selected="true">商品描述
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
                                        type="button" role="tab" aria-controls="reviews" aria-selected="false">用户评论
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <div class="product-details-description-content">
                                    <p>[[${good.descr}]]</p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="product-details-review-content">
                                    <div class="product-review-form">
                                        <!-- <h3>Customer reviews</h3>

                                        <div class="review-title">
                                            <div class="rating">
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                            </div>
                                            <p>Based On 3 Reviews</p>
                                        </div> -->

                                        <div class="review-comments">
                                            <div class="review-item" th:each="comment:${commentList}">
                                                <img style="width: 52px;height: 52px"
                                                     th:src="'http://localhost:8088/'+${comment.cimage}" alt="Image">
                                                <h3>[[${comment.customer}]]</h3>
                                                <span>[[${#dates.format(comment.commentTime,'yyyy-MM-dd HH:mm:ss')}]]</span>

                                                <div th:if="${comment.star == 4}">
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                </div>
                                                <div th:if="${comment.star >= 5}">
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                </div>
                                                <div th:if="${comment.star == 3}">
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                </div>
                                                <div th:if="${comment.star == 2}">
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                </div>
                                                <div th:if="${comment.star == 1}">
                                                    <i style="color: #d15f5f" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                </div>
                                                <div th:if="${comment.star == 0}">
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                    <i style="color: #663a42" class="ri-star-fill"></i>
                                                </div>

                                                <p>[[${comment.comment}]]</p>

                                                <!-- <a href="product-details.html" class="review-report-link">Reply</a> -->
                                            </div>


                                        </div>

                                        <div class="review-form">
                                            <ul class="d-flex">
                                                <li>
                                                    <h3>发布评论</h3>
                                                </li>

                                            </ul>

                                            <form th:action="@{/addComment}">
                                                <input name="goodId" th:value="${good.id}" type="hidden"/>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" id="name" name="star"
                                                                   class="form-control" placeholder="评分">
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="form-group">
                                                            <textarea name="comment" id="review-body" cols="30" rows="4"
                                                                      class="form-control"
                                                                      placeholder="评论"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12">
                                                        <button type="submit" class="btn default-btn">
                                                            评论
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="only-shape shape-1" data-speed="0.04" data-revert="true">
            <img src="assets/images/team/team-shape-1.png" alt="Image">
        </div>
        <div class="only-shape shape-2" data-speed="0.06" data-revert="true">
            <img src="assets/images/team/team-shape-2.png" alt="Image">
        </div>
    </div>
    <!-- End Product Details Area -->


    <!-- Start Footer Area -->
    <div class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- End Footer Area -->

    <!-- Start Copyright Area -->
    <div class="copy-right-area">
        <div class="container">

        </div>
    </div>
    <!-- End Copyright Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
</div>
<!-- End For overflow-hidden & tween-animation -->

<!-- Links of JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/meanmenu.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/tween-max.min.js"></script>
<script src="assets/js/appear.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/smoothscroll.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/ajaxchimp.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>
